@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.hidden {
  display: none;
}
h1 {
  font-size: 24px;
  font-family: 'Michroma', sans-serif;
}
header {
  border: thin solid black;
  padding: 20px;
}
header p {
  font-family: Arial, Helvetica, sans-serif;
  color: #828282;
}
main h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
#pick-images {
  margin-left: 20px;
  display: flex;
}
#pick-images section {
  margin: 20px;
}
#pick-images img {
  width: 150px;
  height: 150px;
  border: thick solid #4f4e4e;
  border-radius: 20px;
}
#pick-images p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
